<a href="https://colab.research.google.com/github/CSSjieun/Python-Coding-Test-Algorithm/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")
# <- ctrl + / 로 도글
# <- shift + enter 하면 실행하고 다음 셀로 넘어감
# alt + enter 하면 실행하고 밑에다가 셀을 새로 만듦만듦
# esc 하면 방향키 위아래로 셀 왔다갔다.
# 이 모드에서 a 하면 위에 셀, b 하면 아래에 셀 만듦
# ctrl + m, d 하면 셀 삭제 (ctrl + m, z는 셀 수준 실행 취소, ctrl + shift + y 는 셀 수준 다시 실행)
# ctrl + z, ctrl + shift + z, ctrl + c, ctrl + v

Hello World

# 큰제목
## 그 다음으로 큰
### 그그 다음으로 큰
**볼드**

- 1
 - 1-1
   - 1-1-1

- 2
 - 2-1
   - 2-1-1

1. ㅁ
2. ㄹ


> abc
>> abcdef

$y=X$

```python
print("Hello World")
a=1
b=2
```
[youtube](https://youtube.be/IJRxpLgT7oE)

λ

## python is a calculation

In [ ]:
print("Hello")

Hello

In [ ]:
type(2) # int: integer 정수

int

In [ ]:
type(2.0) #float: 실수 (부동소수점) OR type(2.)

float

In [ ]:
4//2 # 2.0 이면 "두번째" 라는 걸 못 나타내서 이런게 필요 // 몫을 뱉어주는 것

2

In [ ]:
int(5/2) # 원래 2.5인데 Integer 정수 형태로 바꿔줘서 2를 반환함 (소수점 아래를 그냥 삭제)

In [ ]:
5%2 # 나머지를 알려준다. 유식한 말로 modulo 연산!

1

In [ ]:
2**10 # 2의 10승 열번 곱하지 말고 2^10하지 말고 2**10

1024

In [ ]:
print(0b011) # 0b는 2진수
print(0xA) # 0x는 16진수 # 그냥 하면 마지막 것만 보여줘서 둘다 print를 붙여줌

3
10

In [ ]:
a = 10 # a 라는 이름의 변수에 10이라는 값을 "집어넣는다"

In [ ]:
print(a) # a에 들어있는 값을 보여달라
print("a")
a = 1 # 10을 집어 넣었다가 1을 집어 넣었으니 이제는 a에는 1이 들어가 있다
print(a)

1
a
1

In [ ]:
a = "hello world" # 수학에서의 등호와는 확실히 다르다
print(a)

hello world

In [ ]:
a1 = 1
a2 = 2
a3 = 3 # 변수명에서 숫자가 맨 앞에 올 수 없다

In [ ]:
a = 3
A = 4
print(a)
print(A)
print(a); print(A)

3
4

In [ ]:
# a-b=1
# a*b=1
# a**2=1

In [ ]:
del a
# print(a)

NameError: name 'a' is not defined

In [ ]:
a=1; b=2
c=a+b
print(c)

3

In [ ]:
a=a+5 # update
print(a)

26

In [ ]:
a += 5 # a = a+5 와 동일
print(a)

36

In [ ]:
a *= 2 # a = a*2
print(a)

72

In [ ]:
a /= 2 # 나누기를 만나면 자동으로 float 타입으로 바꾼다
print(a)

36.0

In [ ]:
x = 4
print(x)
print("x =", x)

4
x = 4

In [ ]:
print("Hello","World")

Hello World

In [ ]:
import numpy as np
a = np.array([[1,2],[3,4]])
np.linalg.inv(a)

array([[-2. ,  1. ],
       [ 1.5, -0.5]])

## Python은 진화된 계산기

In [ ]:
a=1
a==1 # 같냐?

False

In [ ]:
a>3

False

In [ ]:
a>=3

False

In [ ]:
a is 1

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-72-9a4f168196e7>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 1

True

In [ ]:
a is not 1

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-74-a0ea076735fa>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is not 1

False

## 여러개를 한 변수에 넣을 순 없을까? 리스트

In [ ]:
a = [1,2,3] # list
print(a)

[1, 2, 3]

In [ ]:
a = [1,2,3]
b = [4,5,6]
a + b # 더하는 게 아니고 쌓는다

[1, 2, 3, 4, 5, 6]

In [ ]:
a = [1, "b", 5] # 뭐든 들어간다
print(a)

[1, 'b', 5]

In [ ]:
c = []
c.append(1)
c.append("hehe")
c.append("c")
print(c)

[1, 'hehe', 'c']

In [ ]:
a = []
a = a+[1]
a += ["haha"]
print(a)

[1, 'haha']

## range는 반복문의 친구

In [ ]:
range(10)
list(range(10)) # range를 list로 바꿔줌

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
b=list(range(1,11)) # 1 부터 시작 11 미만 까지 (10개)
print(b)
c=list(range(1,11,2)) # 1 부터 시작 11 미만 까지 2 간격 (무조건 끝에가 빠지는 것은 아님)
print(c)
list(range(10,0,-1)) # 10 부터 시작. 그리고 0 초과까지
print(list(range(10,0,-1)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 튜플이라는 것도 있어요

In [ ]:
a = (1,"h",3)
b = [1,2,3]
print(type(a))
print(type(b))

<class 'tuple'>
<class 'list'>

In [ ]:
b = tuple(range(10))
print(b)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
a = list(range(10))
b = tuple(range(10))
c = tuple(a)
d = list(b)
print(a)
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# in은 있냐?를 물어봄

In [ ]:
a = list(range(10))
b = tuple(range(10))
c = range(10)
print(1 in a) # a 에 1이 있냐?
print(15 in a)
print(1 not in b) # b 에 1이 있냐?
print(15 in b)
print(5 in c)

True
False
False
False
True

In [ ]:
s = "hello"
print("h" in s)
print("H" in a)

True
False

# 리스트의 기본 연산과 인덱싱

In [ ]:
a = [1,2,3]
b = a+a
c = a*3
d = a*(12//4)
e = a*int(12/4)

print(a)
print(b)
print(c)
print(d)
print(e)

[1, 2, 3]
[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
a=[1,2,3]
print(len(a)) # len은 length다

3

In [ ]:
s = "hello"
s2 = ["hello"]
print(s)
print(len(s)) # len 안에 문자열이 들어오면 문자의 개수를 알려주고
# len() 안에 리스트가 들어오면 리스트에 들어있는 항목의 개수를 알려준다
print(s2)
print(len(s2)) # 왜 하나일까? 리스트의 길이를 알려주는 거라서...

hello
5
['hello']
1

In [ ]:
a=[1,2,3]
print(a[0]) # a[i]: i 번째의 값을 가리킴. 이런 것을 indexing이라고 함
list(range(0,10))
print(a[0], a[1], a[2])
print(a[-1]) # -1 은 마지막 것을 가리킨다.
print(a[-1], a[-2], a[-3])

1
1 2 3
3
3 2 1

In [ ]:
r = range(0,10,2) # range로 인뎅싱 됨
print(r[0], r[1], r[2])

0 2 4

In [ ]:
a=[1,2,3]
a[0]=3
a[1]=5
a[2]=10
print(a)

[3, 5, 10]

In [ ]:
a=(1,2,3)
a[0]=1 # imutable 하기때문에 안된다!

TypeError: 'tuple' object does not support item assignment

In [ ]:
a=[1,2,3]
del a[1]
print(a)

[1, 3]

# 굉장히 많이 쓰이는 슬라이스!

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
b=a[0:3] # 0 부터 3 미만번째
print(b)

[1, 2, 3]

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a[1:3])
print(a[3:-1])
print(a[1:7:2]) # 8은 비포함
print(a[:5]) # 첫 번째 자리를 비우면 처음 것부터
print(a[5:]) # 두 번째 자리를 비우면 마지막까지 (마지막도 포함)
print(a[:]) # 처음부터 끝까지
print(a[:7:2]) # 처음부터 7까지 2간격으로
print(a[7::2])
print(a[::2])
print(a[::]) # a[:]과 동일 처음부터 끝까지

[2, 3]
[4, 5, 6, 7, 8, 9]
[2, 4, 6]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7]

In [ ]:
a=[1,2,3,4,5]
del a[1:3]
print(a)

[1, 4, 5]

## Dictionary

In [ ]:
dic1 = {"a":1, "b":2, 100:"5"} # colon(:)을 중심으로 왼쪽과 오른쪽 보기, 중괄호다.
# 키(key):값(value) 이고 숫자 문자 뭐든 키, 값이 될 수 있다.
# 키에는 수정할 수 없는 튜플은 되고 리스트는 안됨
# 값에는 튜플도 되고 리스트도 됨
print(dic1)
print(dic1["a"], dic1[100]) # key를 가지고 indexing함
print(len(dic1)) # 네 쌍이라서 4
print(dic1.keys()) # key를 보여달라
print(dic1.values()) # value 보여달라
print(dic1.items()) # 쌍을 보여달라

{'a': 1, 'b': 2, 100: '5'}
1 5
3
dict_keys(['a', 'b', 100])
dict_values([1, 2, '5'])
dict_items([('a', 1), ('b', 2), (100, '5')])

In [ ]:
list(zip(["a","b",100],[1,2,"5"]))
a = dict(zip(["a","b",100], [1,2,"5"]))
print(a)

{'a': 1, 'b': 2, 100: '5'}

In [ ]:
dic1 = {"a":1, "b":2, "c":3, "d":4}
dic1["a"] = 100; dic1["b"] = 200; dic1["c"] = 300; dic1["d"] = 400
print(dic1)
dic1["e"] = "new key" # new key
print(dic1)
print("a" in dic1) # "a"라는 키가 있나
print(100 in dic1) # 100 라는 키가 있나

{'a': 100, 'b': 200, 'c': 300, 'd': 400}
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 'new key'}
True
False

## 조건문

In [ ]:
a = 5
print(a>3)
print(a<3)
print(a==5)

if a>3:
    print("3보다 큽니다")

if a<3:
    print("3보다 작습니다") # if (false) 면 error가 아니라 실행을 안함

if a==5:
    print("5와 같다")

# if a=5:
#     print("5를 a에 넣는다면?")

True
False
True
3보다 큽니다
5와 같다

In [ ]:
a = 5
if a==5:
    print("5와")
    print("같습니다")

# if a==5:
#     print("5와")
#         print("같습니다") #오류:

if a==5:
    print("5와 같습니다")
print("if문 밖으로 나옴. 여기서부터 계속 실행된다")

5와
같습니다
5와 같습니다
if문 밖으로 나옴. 여기서부터 계속 실행된다

In [ ]:
x=15
if x>10:
    print("10보다 크다")
    if x == 15:
        print("15입니다")
    if x==20:
        print("20입니다")
    a=1
print(a)

10보다 크다
15입니다
1

In [ ]:
x = 15
if x<10: # 애초에 여길 통과 못해서 이 안에 if x==15:가 있더라도 실행되지 않음!
    print("10보다 크다.")
    if x==15:
        print("15입니다.")
    if x==20:
        print("20입니다.")

In [ ]:
x=15
if x<10:
    print("x는 10보다 작습니다(10 미만)")
else:
    print("그 이외(10 이상)")
    print("esle도 들여쓰기 영역 모두 실행")

그 이외(10 이상)
esle도 들여쓰기 영역 모두 실행

In [ ]:
if True:
    print("여기 들어온다")
else:
    print("여기 안들어온다")

if False:
    print("여긴 안들어와야")
else:
    print("이번엔 여기로 들어와야 함")

여기 들어온다
이번엔 여기로 들어와야 함

In [ ]:
if 1: # bool (-1)이 True
    print("여기 들어와야 함")
else:
    print("여긴 안들어와야 함")

if 0:
    print("여기 안들어옴")
else:
    print

여기 들어와야 함
여기 들어옴

In [ ]:
if "False":
    print("글자 있으면 True 취급")
else:
    print("여긴 안들어와야 함")

if "":
    print("빈 문자는 False 취급")
else:
    print("비었으면 일로 온다")

글자 있으면 True 취급
비었으면 일로 온다

In [ ]:
print(bool(1))
print(bool(0))
print(bool("Hello"))
print(bool(""))

True
False
True
False

In [ ]:
a = 1
b = 2
if a>0 and b>0:
    print("둘다 맞아야만 들어옴")
else:
    print("둘 중 하나라도 안 맞으면 여기로")

둘다 맞아야만 들어옴

In [ ]:
a = 1
b = -1
if a>0 and b>0:
    print("둘다 맞아야만 들어옴")
else:
    print("둘 중 하나라도 안 맞으면 여기로")

둘 중 하나라도 안 맞으면 여기로

In [ ]:
a = 1
b = -1
if a>0 or b>0:
    print("둘 중에 하나라도 맞으면 여기로")
else:
    print("둘다 아니면 여기로")

둘 중에 하나라도 맞으면 여기로

In [ ]:
a = -1
b = -1
if a>0 or b>0:
    print("둘 중에 하나라도 맞으면 여기로")
else:
    print("둘다 아니면 여기로")

둘다 아니면 여기로

In [ ]:
x = 10
if 0<x<20:
    print("부등호 연달아 써도 된다")

부등호 연달아 써도 된다

In [ ]:
x = 25
if 0 < x < 10:
    print("10보다 작은가")
elif x < 50:
    print("아니면 50보다 작은가")

아니면 50보다 작은가

In [ ]:
x = 100
if 0 < x < 10: # 가장 먼저 본 애를 실행
    print("10보다 같거나 작은가")
elif x < 100:
    print("아니면 100보다 작은가")
else:
    print("10보다 작지도 100보다 작지도 않은가?")

10보다 작지도 100보다 작지도 않은가?

In [ ]:
x = 15
if x>= 10:
    print(x)

15

In [ ]:
x = 98
if x >= 90 :
    print("A")
elif x >= 80:
    print("B")
elif x >= 70:
    print("C")
else:
    print("D")

A

In [ ]:
x = 85
if x >= 90:
    pass
else:
    print("end of the program")

end of the program

In [ ]:
x = 75
if x >= 80: result = "Success"
else: result = "Fail"

In [ ]:
score = 85
result = "Success" if score >= 80 else "Fail"

print(result)

Success

In [ ]:
a = [1,2,3,4,5,5,5]
remove_set = {3,5}

result = []
for i in a :
    if i not in remove_set:
        result.append(i)

print(result)

[1, 2, 4]

# 반복문
## While문과 For문

In [ ]:
i = 1
result = 0

while i <= 9:
    result += i
    i += 1

print(result)

45

In [ ]:
i = 1
result = 0
while i <= 9:
    if i % 2 == 1:
        result += i
    i += 1

print(result)

25

In [ ]:
result = 0

# i는 1부터 9까지의 모든 값을 순회
for i in range(1,10):
    result += i

print(result)

45

In [ ]:
scores = [90, 95, 77, 65, 97]
cheating_list = {2,4}

for i in range(5):
    if i + 1 in cheating_list:
        continue
    if scores[i] >= 80:
        print(i+1, "번 학생은 합격입니다.")

1 번 학생은 합격입니다.
5 번 학생은 합격입니다.

In [ ]:
# 구구단 2단부터 9단까지의 모든 결과를 출력하는 소스코드 예시
for i in range (2,10):
    for j in range (1,10):
        print(i, "X", j, "=", i * j)

print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

# 함수
def 함수명(매개변수):
    실행할 소스 코드
    return 반환 값

In [ ]:
def add(a,b):
    return a + b

print(add(3,7))

10

In [ ]:
def add(a,b):
    print('result of the function:', a + b)

add(3,7)

result of the function: 10

In [ ]:
def add(a,b):
    print("result:", a + b)

add(b=3, a=7)

result: 10

In [ ]:
a = 0
def func():
    global a
    a += 1

for i in range(10):
    func()

print(a)

10

In [ ]:
def add(a,b):
    return a + b

print(add(3,7))

print((lambda a,b: a + b)(3,7))

10
10

# 입출력
알고리즘 문제 풀이의 첫 번째 단계는 데이터를 입력받는 것이다. 알고리즘 문제의 경우 적절한 입력이 주어졌을 때, 그 입력을 받아서 적절한 알고리즘을 수행한 뒤의 결과를 출력하는 것을 요구하기 때문이다.

# 전형적인 코드
데이터의 개수 입력: n = int(input())

각 데이터를 공백으로 구분하여 입력: data = list(map(int, input().split()))

data.sort(reverse = TRUE)

print(data)

In [ ]:
# n, m, k를 공백으로 구분하여 입력
n, m, k = map(int, input().split())

print(n,m,k)

3 5 7
3 5 7

In [ ]:
# 입력의 개수가 많은 경우 sys 라이브러리에 정의되어 있는 sys.stdin.readline() 함수를 이용한다.

In [ ]:
import sys
sys.stdin.readline().rstrip()

''

In [ ]:
# sys 라이브러리를 사용할 때는 한 줄 입력을 받고 나서 rstrip() 함수를 꼭 호출해야 한다.
import sys

data = sys.stdin.readline().rstrip()
print(data)

In [ ]:
# f-string 문법: 문자열 앞에 접두사 "f"를 붙임으로써 단순히 중괄호 {}안에 변수를 넣음으로써, 자료형의 변환 없이도 바꾸지 않고도 간단히 문자열과 정수를 함께 넣을 수 있다.
answer = 7
print(f"정답은 {answer}입니다.")

정답은 7입니다.

# 주요 라이브러리의 문법과 유의점
표준 라이브러리: 특정한 프로그래밍 언어에서 자주 사용되는 표준 소스코드를 미리 구현해 높은 라이브러리

# 주요 라이브러리 6개
1. 내장 함수: print(), input()과 같은 기본 입출력 기능부터 sorted()와 같은 정렬 기능을 포함하고 있는 기본 내장 라이브러리이다. 파이썬 프로그램을 작성할 때 없어서는 안 되는 필수적인 기능을 포함하고 있다.

2. itertools: python에서 반복되는 형태의 데이터를 처리하는 기능을 제공하는 library이다. 순열과 조합 라이브러리를 제공한다.

3. heapq: 힙(Heap) 기능을 제공하는 library이다. 우선순위 큐 기능을 구현하기 위해 사용한다.

4. bisect: 이진 탐색(Binary Search) 기능을 제공하는 library이다.

5. collections: 덱(deque), 카운터(Counter) 등의 유용한 자료구조를 포함하고 있는 라이브러리이다.

6. math: 필수적인 수학적 기능을 제공하는 library이다. 팩토리얼, 제곱근, 최대공약수 (GCD), 삼각함수 관련 함수부터 파이(pi)와 같은 상수를 포함하고 있다.

In [ ]:
# 내장함수: sum()
result = sum([1,2,3,4,5])
print(result)

15

In [ ]:
# min()
result = min([7,3,5,2])
print(result)

2

In [ ]:
# max()
result = max([7,3,5,2])
print(result)

7

In [ ]:
# eval() 수학 수식이 문자열 형식으로 들어오면 해당 수식을 계산한 결과를 반환한다.
result = eval("(3+5)*7")
print(result)

56

In [ ]:
# sorted() iterable 객체가 들어왔을 때, 정렬된 결과를 반환한다.
result = sorted([9,1,8,5,4]) # 오름차순으로 정렬
print(result)
result = sorted([9,1,8,5,4], reverse = True) # 내림차순으로 정렬
print(result)

[1, 4, 5, 8, 9]
[9, 8, 5, 4, 1]

In [ ]:
result = sorted([("홍길동", 35), ("이순신", 75), ("아무개", 50)], key = lambda x: x[1], reverse = True)
print(result)

[('이순신', 75), ('아무개', 50), ('홍길동', 35)]

In [ ]:
data = [9,1,8,5,4]
data.sort()
print(data)

[1, 4, 5, 8, 9]

In [ ]:
#itertools 파이썬에서 반복되는 데이터를 처리하는 기능을 포함하고 있는 라이브러리
from itertools import permutations # 순열
data = ['A','B','C'] # 데이터 준비
result = list(permutations(data, 3)) # 모든 순열 구하기
print(result)

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

In [ ]:
from itertools import combinations # 조합
data = ['A', 'B', 'C']
result = list(combinations(data, 2)) # 2개를 뽑는 모든 조합 구하기
print(result)

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [ ]:
# product()는 permutations와 같이 리스트와 같은 iterable 객체에서 r개의 데이터를 뽑아 일렬로 나열하는 모든 경우(순열)를 계산한다.
from itertools import product
data = ['A', 'B', 'C']
result = list(product(data, repeat = 2))

print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'B'), ('B', 'C'), ('C', 'A'), ('C', 'B'), ('C', 'C')]

In [ ]:
# combinations_with_replacement는 combinations와 같이 리스트와 같은 iterable 객체에서 r개의 데이터를
# 뽑아 순서를 고려하지 않고 나열하는 모든 경우(조합)를 계산한다. 다만 원소를 중복해서 뽑느다.
from itertools import combinations_with_replacement
data = ['A', 'B', 'C']
result = list(combinations_with_replacement(data, 2)) # 2개를 뽑는 모든 조합 구하기 (중복 허용)

print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

In [ ]:
# heapq 다익스트라 최단 경로 알고리즘을 포함해 다양한 알고리즘에서 우선순위 큐 기능을 구현하고자 할 때 사용된다.
import heapq

def heapsort(iterable):
    h = []
    result = []
    # 모든 원소를 차례대로 힙에 삽입
    for value in iterable:
        heapq.heappush(h, value)
    # 힙에 사용된 모든 원소를 차럐대로 꺼내어 담기
    for i in range(len(h)):
        result.append(heapq.heappop(h))
    return result

result = heapsort([1,3,5,7,9,2,4,6,8,0])
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
import heapq

def heapsort(iterable):
    h = []
    result = []
    # 모든 원소를 차례대로 힘에 삽입
    for value in iterable:
        heapq.heappush(h, -value)
    # 힙에 삽입된 모든 원소를 차례대로 꺼내어 담기
    for i in range(len(h)):
        result.append(-heapq.heappop(h))
    return result

result = heapsort([1,3,5,7,9,2,4,6,8,0])
print(result)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
# bisect "정렬된 배열"에서 특정한 원소를 찾아야 할 때 매우 효과적으로 사용된다.
from bisect import bisect_left, bisect_right

a = [1,2,4,4,8]
x = 4

print(bisect_left(a, x))
print(bisect_right(a, x))

2
4

In [ ]:
from bisect import bisect_left, bisect_right

# 값이 [left_value, right_value]인 데이터의 개수를 반환하는 함수
def count_by_range(a, left_value, right_value):
    right_index = bisect_right(a, right_value)
    left_index = bisect_left(a, left_value)
    return right_index - left_index

# 리스트 선언
a = [1,2,3,3,3,3,4,4,8,9]

# 값이 4인 데이터 개수 출력
print(count_by_range(a, 4, 4))

# 값이 [-1, 3] 범위에 있는 데이터 개수 출력
print(count_by_range(a, -1, 3))

2
6

In [ ]:
# collections  - deque와 Counter
# deque는 첫 번째 원소를 제거할 때 popleft()를 사용하며, 마지막 원소를 제거할 때 pop()을 사용한다.
# 첫 번째 인덱스에 원소 x를 삽입할 때에는 append()를 사용하고 원소를 삭제할 때에는 popleft()를 사용하면 된다.

from collections import deque

data = deque([2,3,4])
data.appendleft(1)
data.append(5)

print(data)
print(list(data))

deque([1, 2, 3, 4, 5])
[1, 2, 3, 4, 5]

In [ ]:
# Counter 해당 객체 내부의 원소가 몇 번식 등장했는지를 알려준다.
from collections import Counter

counter = Counter(['red', 'blue', 'green', 'red', "blue", 'blue'])

print(counter['blue'])
print(counter['green'])
print(dict(counter))

3
1
{'red': 2, 'blue': 3, 'green': 1}

In [ ]:
# math
import math

print(math.factorial(5)) # 5!

print(math.sqrt(7)) # 7의 제곱근

print(math.gcd(21, 14)) # 21과 14의 최대 공약수

print(math.pi) # pi 출력
print(math.e) # 자연상수 e 출력

120
2.6457513110645907
7
3.141592653589793
2.718281828459045